__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
.vscode/
*.json
!components.json
!ShipOne.json
!modifiers.json
!vehicleclasses.json
!component_presets.json
!builder_theme.json
!abilities.json
