# Absolute path to where the Windows Snipping Tool saves images by default.
# Make sure this has double backslashes or forward slashes in Windows.
SCREENSHOTS_DIR='C:\Users\rossr\Pictures\Screenshots'

# Auto-created session output folder path
SESSION_OUTPUT_DIR='./session_data'

# Google Cloud Auth
# GOOGLE_APPLICATION_CREDENTIALS='C:\path\to\your\service-account-file.json'
